YKK2025/VS2005/VS2005/EDI/App_WebReferences/EDI2011/MappingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Rule2Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLogID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pBuyer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGRBuyer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rule2DataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Rule2DataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rule2DataEOES">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLogID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pBuyer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGRBuyer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rule2DataEOESResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Rule2DataEOESResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Rule2DataSoapIn">
    <wsdl:part name="parameters" element="tns:Rule2Data" />
  </wsdl:message>
  <wsdl:message name="Rule2DataSoapOut">
    <wsdl:part name="parameters" element="tns:Rule2DataResponse" />
  </wsdl:message>
  <wsdl:message name="Rule2DataEOESSoapIn">
    <wsdl:part name="parameters" element="tns:Rule2DataEOES" />
  </wsdl:message>
  <wsdl:message name="Rule2DataEOESSoapOut">
    <wsdl:part name="parameters" element="tns:Rule2DataEOESResponse" />
  </wsdl:message>
  <wsdl:portType name="MappingServiceSoap">
    <wsdl:operation name="Rule2Data">
      <wsdl:input message="tns:Rule2DataSoapIn" />
      <wsdl:output message="tns:Rule2DataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rule2DataEOES">
      <wsdl:input message="tns:Rule2DataEOESSoapIn" />
      <wsdl:output message="tns:Rule2DataEOESSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MappingServiceSoap" type="tns:MappingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rule2Data">
      <soap:operation soapAction="http://tempuri.org/Rule2Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rule2DataEOES">
      <soap:operation soapAction="http://tempuri.org/Rule2DataEOES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MappingServiceSoap12" type="tns:MappingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rule2Data">
      <soap12:operation soapAction="http://tempuri.org/Rule2Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rule2DataEOES">
      <soap12:operation soapAction="http://tempuri.org/Rule2DataEOES" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MappingService">
    <wsdl:port name="MappingServiceSoap" binding="tns:MappingServiceSoap">
      <soap:address location="http://10.245.0.153/EDIService/MappingService.asmx" />
    </wsdl:port>
    <wsdl:port name="MappingServiceSoap12" binding="tns:MappingServiceSoap12">
      <soap12:address location="http://10.245.0.153/EDIService/MappingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>